.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.BodyActivePost .success{
  background-color: green;
  color: white;
}

.error{
  background-color: red;
  color: white;
}
.NavOlHeader{
  margin-top: 100px;
}
.MenuToggle{
  position: fixed;
  top: 40px;
  left: 40px;
  font-size: 20px;
  cursor: pointer;
  /* color: #fff; */
  transition: opacity, left .22s ease-in;
  z-index: 100;
  /* border: 1px solid red; */
}

.MenuToggle:hover{
  opacity: .7;
}

.MenuToggle.open{
  left: 320px;
}

/* .BodyActivePost p{
  color: red;
} */

.Drawer{
  border: 1px solid black;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 80%;
  max-width: 300px;
  padding: 20px 10px;
  /* box-sizing: border-box - чтобы не выходило наружу */
  box-sizing: border-box;
  background: orange;
  z-index: 90;
  transform: translateX(0px);
  transition: transform .22s ease-in;
}

.Drawer.close{
  transform: translateX(-300px);
}

.Drawer ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.Drawer ul li{
margin-bottom: 15px;
}

.Drawer ul li a{
  color: #363d54;
  font-size: 30px;
  text-decoration: none;
  background-color: #fff;
  position: relative;
  padding: 0 20px 10px 20px;
  transition: opacity .3s;
}

.Drawer ul li a:hover, .active{
  opacity: .7;
}

.Backdrop{
  z-index: 50;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
